:root{
    --color-text:#1E1C1A;
    --primary-color:#D99655;
    --bgcolor:#FFF0E3;
    --colorp:#504C48;
}

*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--bgcolor);
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}


.topnav {
  background-color: white;
  overflow: hidden;
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 350px;
}


.topnav #myLinks {
  display: none;
}


.topnav a {
  color: var(--color-text);
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  display: block;
}


.topnav a.icon {
  
  display: block;
  position: absolute;
  right: 0;
 
  top: 1rem;
    right: 1rem
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*************header******************/
.header{
  background-color: var(--bgcolor);
  
}

.header__title{
  
  text-align: left;
  max-width: 335px;
max-height: 145px;
padding: 2.5rem 1rem;

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 50px;
}

.header__button{
  margin: 0 0 3rem 1rem;
  color: var(--bgcolor);
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}
.header__images{
  margin: 0 auto;
    max-width: 370px;
}
.active {
 
  color:var(--color-text);
}
.active2{
  display: none ;
}
.collection{
 margin: 1rem;
}
.imges2 {
  width: 100%;
}
.collection__titulo{
  font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: start;
max-width: 690px;
margin: 0 auto;
}
.colleccion__parrafo{
  text-align: start;
  margin: 0 auto;
  max-width: 690px;
}
.collection__images{
  text-align: center;
}
  /***************** STYLES TABLE ********************/

@media  (min-width:500px) {
  .topnav {
    
    max-width: 670px;
  }
  .header__title{
    margin: 0 auto;
    text-align: center;
  }
  .header__button{
    display: block;
    margin: 0 auto;
    
  }
  
  }
  /***************** STYLES DESTOKS ********************/
@media  (min-width:1000px) {
  .topnav {
   
    max-width: 900px;
  }
  .active{
    display: none !important;
  }
  .icon{
    display: none !important;
  }
  .topnav{
    display: flex;
    justify-content: space-around;
  }
  #myLinks{
    display: flex !important;
  
    
  }
  .link__rigth{
    display: flex;
    margin: 0 2rem;
  }
  .link__left{
    display: flex;
    margin: 0 2rem;

  }

  }