:root{
    --color-text:#1E1C1A;
    --primary-color:#D99655;
    --bgcolor:#FFF0E3;
    --colorp:#504C48;
}

*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--bgcolor);
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

/* Style the navigation menu */
.topnav {
  background-color: white;
  overflow: hidden;
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 350px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: var(--color-text);
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  
  display: block;
  position: absolute;
  right: 0;
 
  top: 1rem;
    right: 1rem
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*************header******************/
.header{
  background-color: var(--bgcolor);
  text-align: center;
}
.header__title{
  
  text-align: left;
  max-width: 335px;
max-height: 145px;


font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 50px;
}

.header__button{
  color: var(--bgcolor);
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}

/* Style the active link (or home/logo) */
.active {
 
  color:var(--color-text);
}
.active2{
  display: none ;
}
  /***************** STYLES TABLE ********************/

@media  (min-width:700px) {
  .topnav {
    
    max-width: 670px;
  }
  .header__title{
    margin: 0 auto;
    text-align: center;
  }

  }
  /***************** STYLES DESTOKS ********************/
@media  (min-width:1000px) {
  .topnav {
   
    max-width: 900px;
  }
  .active{
    display: none !important;
  }
  .icon{
    display: none !important;
  }
  .topnav{
    display: flex;
    justify-content: space-around;
  }
  #myLinks{
    display: flex !important;
  
    
  }
  .link__rigth{
    display: flex;
    margin: 0 2rem;
  }
  .link__left{
    display: flex;
    margin: 0 2rem;

  }

  }